body{
	position: relative;
    font-family: 'Roboto', sans-serif;
	background: black;
	color: white;
	margin-bottom: 25px;
}

a:link, a:visited{
	color: white;
    text-decoration: none;
}

a:hover{
	color: red;
}

.pointer{
	cursor: pointer;
}

h1{
	position: relative;
	font-size: 48px;
	text-align: center;
}

nav ul{
	position: relative;
	display: block;
	text-align: center;
}

nav li{
	display: inline;
	font-size: 20px;
	font-weight: bold;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@media screen and (min-width: 320px){
section{
	width: 300px;
	height: 300px;
}

.story{
	overflow: hidden;
}
}

@media screen and (min-width: 480px){
section{
	width: 450px;
	height: 300px;
}

.story{
	overflow: hidden;
}
}

@media screen and (min-width: 768px){
section{
	width: 512px;
	height: 384px;
}

.story{
	height: 304px;
}
}

@media screen and (min-width: 1024px){
section{
	width: 512px;
	height: 384px;
}

.story{
	height: 304px;
}
}

@media screen and (min-width: 1440px){
section{
	width: 720px;
	height: 450px;
}

.story{
	height: 370px;
}
}


section{
	border: yellow;
	position: relative;
	display: block;
    margin: auto;
	background-color: white;
    color: black;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;	
}

h2{
	position: relative;
	display: block;
	text-align: center;
	font-size: 24px;
	padding: 15px;
}

p{
	position: relative;
	white-space: pre-wrap;
	line-height: 1.5;
	padding-left: 10px;
}

#intro{
	display: block;
	text-align: center;
}

.stories{
	text-align: center;
	display: block;
	margin: 14px;	
    padding: 0px 3px;
}

.story{
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: pre;
}

#goldfish{
	color: black;
	text-decoration: none;
}

#goldfish:hover{
	color: red;
}

#me{
	color: black;
}

#me:hover{
	color: #FFC0CB;
}

#writing{
	color: black;
}

#writing:hover{
	color: red;
}

#music:hover{
	font-size: 0px;
}

#music:hover:after{
	content: attr(data-hover);
	color: orange;
	font-size: 16px;
}

#money:hover{
	font-size: 0px;
}

#money:hover:after{
	content: attr(data-hover);
	color: green;
	font-size: 16px;
}

#love:hover{
	font-size: 0px;
}

#love:hover:after{
	content: attr(data-hover);
	color: red;
	font-size: 16px;
}

#language:hover{
	font-size: 0px;
}

#language:hover:after{
	content: attr(data-hover);
	color: brown;
	font-size: 16px;
}

#number{
	display: block;
	text-align: center;
	white-space: pre-line;
}

#personal, #business{
	position: relative;
	display: block;
	margin-top: 50px;
	text-align: center;
}

footer{
	position: fixed;
    bottom: 0;
	width: 99%;
}

#fb, #ig, #sc{
	position: relative;
	display: inline-block;
	float: right;
	padding: 2px;
}
