body{
	position: relative;
    font-family: 'Roboto', sans-serif;
	background: black;
	color: white;
	margin-bottom: 25px;
}

a:link, a:visited{
	color: white;
    text-decoration: none;
}

a:hover{
	color: red;
}

.pointer{
	cursor: pointer;
}

h1{
	position: relative;
	font-size: 48px;
	text-align: center;
}

nav ul{
	display: block;
	position: static;
	text-align: center;
}

nav li{
	display: inline;
	font-size: 16px;
	padding-left: 33px;
	padding-right: 33px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@media screen and (min-width: 320px, max-width: 479px){
section{
	max-width: 320px;
	max-height: 352px;
}
}

@media screen and (min-width: 480px, max-width: 767px){
section{
	max-width: 480px;
	max-height: 202px;
}
}

@media screen and (max-width: 960px){
section{
	max-width: 640px;
	max-height: 960px;
}
}

section{
	border: yellow;
	position: relative;
	display: block;
	width: 512px;
	height: 384px;
    margin: auto;
	background-color: white;
    color: black;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;	
}

h2{
	position: relative;
	display: block;
	text-align: center;
	font-size: 24px;
	border: 1px red solid;
	padding: 15px;
}

p{
	position: relative;
}

.stories{
	text-align: center;
	display: block;
	margin: 14px;	
    padding: 0px 3px;
}

.story{
	border: 1px red solid;
	width: 100%;
	height: 301px;
	overflow: scroll;
	overflow-x: hidden;
	white-space: pre;
}

#goldfishes{
	color: black;
	text-decoration: none;
}

#goldfishes:hover{
	color: red;
}

#me{
	color: black;
}

#me:hover{
	color: #FFC0CB;
}

#writing{
	color: black;
}

#writing:hover{
	color: red;
}

#music:hover{
	font-size: 0px;
}

#music:hover:after{
	content: attr(data-hover);
	color: orange;
	font-size: 16px;
}

#money:hover{
	font-size: 0px;
}

#money:hover:after{
	content: attr(data-hover);
	color: green;
	font-size: 16px;
}

#love:hover{
	font-size: 0px;
}

#love:hover:after{
	content: attr(data-hover);
	color: red;
	font-size: 16px;
}

#language:hover{
	font-size: 0px;
}

#language:hover:after{
	content: attr(data-hover);
	color: brown;
	font-size: 16px;
}

#personal{
	position: relative;
	display: block;
	margin: 0 auto;
}

#business{
	position: relative;
	display: block;
	margin: 0 auto;
}

#number{
	display: block;
	text-align: center;
	white-space: pre-line;
}


footer{
	position: fixed;
    bottom: 0;
	width: 99%;
}

#fb, #ig, #sc{
	position: relative;
	display: inline-block;
	float: right;
	padding: 2px;
}
